body {
	padding: 0px;
	margin: 0px;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
	font-family: Merriweather, Arial, Helvetica, sans-serif;
}

label {
	font-size: large;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
